@{
    ViewBag.Title = "Index";
}

@section scripts {
    <script type="text/javascript" data-main="/Scripts/lectures/main" src="/Scripts/require.js"></script>
}

<div class="main-container">
    
</div>
